body {
	background: black;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
}

svg {
	background: transparent;
	display: block;
}

svg > g {
	isolation: isolate;
}

path {
	mix-blend-mode: screen;
}
