body {
	background: black;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0;
}

svg {
	background: transparent;
	display: block;
}

svg > g {
	isolation: isolate;
}

path {
	mix-blend-mode: multiply;
}

path:nth-child(1) {
	fill: #f0f;
}

path:nth-child(2) {
	fill: #0ff;
}

path:nth-child(3) {
	fill: #ff0;
}