body {
	background: white;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 100;
	display: flex;
	min-height: 100vh;
}

#app {
	display: flex;
	flex: 1 1 100%;
	flex-direction: column;
}

.container {
	background: black;
	color: #EEE;
	flex: 1 1 100%;
	min-height: 300px;
	overflow: auto;
}

.controls {
	text-align: center;
	padding: 8px;

	input, select {
		vertical-align: text-bottom;
		margin: 0 4px;
	}
}

svg {
	background: transparent;
	display: block;
}

svg > g {
	isolation: isolate;
}

label {
	padding: 0 8px;
}

// path {
// 	mix-blend-mode: darken;
// }

.picker-holder {
	display: inline-block;
	vertical-align: middle;
	margin: 0 4px;
}

// path:nth-child(1) {
// 	fill: #f0f;
// }

// path:nth-child(2) {
// 	fill: #0ff;
// }

// path:nth-child(3) {
// 	fill: #ff0;
// }